@import "../../index.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  font-size: 1.25rem;
  transition: 1s ease;

  &.--bgDark {
    background-color: $primary-color;
  }

  ul {
    display: inline-flex;
    align-items: center;

    li {
      padding: 0rem 1.25rem;
      cursor: pointer;
    }
  }

  &__logo {
    width: 10rem;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
