@import "../../styles/mixins";

.showcase {
  position: relative;
  height: 100vh;
  max-width: 100vw;

  &__button {
    position: absolute;
    width: 5%;
    height: 100%;
    background: none;
    border: none;
    color: rgba(150, 150, 150, 0.8);
    font-size: xx-large;
    cursor: pointer;
    z-index: 10;

    &--left {
      left: 0.3%;
    }

    &--right {
      right: 0.3%;
    }

    @include respond(mobile) {
      display: none;
    }
  }

  &__button:focus,
  &__button:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}
