@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&display=swap");
@import "./styles/mixins";

$font-stack: "Maven Pro", sans-serif;
$primary-color: #141414;
$primary-light-color: #3a3a3a;
$primary-dark-color: #000000;
$secondary-color: #f5f5f1;
$secondary-light-color: #ffffff;
$secondary-dark-color: #c2c2be;
$main-theme-color: #e50914;

* { 
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-stack;
  background-color: $primary-color;
  color: $secondary-color;

  // temporary setup
  height: 500vh;
}

html {
  scroll-behavior: smooth;
  // font-size: 90%;

  @include respond(tab-land) {
    font-size: 90%;
  }
  @include respond(tab-port) {
    font-size: 70%;
  }
  @include respond(mobile) {
    font-size: 60%;
  }
  @include respond(big-desktop) {
    font-size: 100%;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
}
